<footer class="footer" role="contentinfo">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="assets/logo.png" alt="Flower Power Dispensers Logo" height="100" />
    </div>

    <nav class="footer-links" aria-label="Footer Navigation">
      <div class="footer-column">
        <h3>Shop</h3>
        <ul>
          <li><a [routerLink]="'/shop'">Home</a></li>
          <li><a [routerLink]="'/gallery'">Gallery</a></li>
          <li><a [routerLink]="'/menu'">Menu</a></li>
          <li><a target="_blank" href="https://online.skytab.com/709ef35565effc96be0975b789a41198" >Order</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Contact Us</h3>
        <ul>
          <li><a href="tel:8453575700" >(845) 357-5700</a></li>
        </ul>
      </div>
    </nav>

    <div class="footer-social">
      <h3>Stay Connected</h3>
      <p>Follow us for new drops, events &amp; cannabis news.</p>
      <div class="social-icons">
        <a href="https://www.instagram.com/flowerpowerdispensers/#" target="_blank" aria-label="Follow us on Instagram">
          <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>


  <div class="footer-bottom">
    <p>&copy; 2024 The Best Diner </p>
  </div>
</footer>
