<div [class.hero-container-shrunk]="isShrunk" class="hero-container">
    <div [class.remove]="isShrunk" class="hero-content text-center text-white">
        <h1>Welcome to The Best Diner</h1>
        <div class="manageMessage">
            <p>A warm, family-friendly spot with a full bar — serving comfort food classics and new favorites, all day long.</p>
        </div>
        <div class="order-buttons">
            <!-- <div class="button-row specials-buttons">
              <button class="order-button specials-btn" (click)="scrollToSpecials()">Happy Hour Specials</button>
              <button class="order-button specials-btn" (click)="scrollToSpecials()">Brunch Specials</button>
            </div> -->
            <div class="button-row delivery-button">
              <a
                href="https://www.ubereats.com/store/the-best-diner-family-restaurant/er_AzanUQsimXTX8AmYrjw?diningMode=DELIVERY"
                class="order-button ubereats"
                target="_blank"
              >
                <img height="85" width="175" src="assets/button-ubereats.png" alt="Order on UberEats" />
              </a>
                           
                            <a
                href="https://www.grubhub.com/restaurant/the-best-diner-family-restaurant-36-lafayette-ave-suffern/6904880?utm_source=grubhub_web&utm_medium=content_owned&utm_campaign=menushare&utm_content=share-link"
                class="order-button ubereats"
                target="_blank"
              >
                <img height="85" width="175" src="assets/grubhub-btn.png" alt="Order on UberEats" />
              </a>
            </div>
             <a
                href="https://www.doordash.com/store/the-best-diner-suffern-25639429/26952364/?srsltid=AfmBOorlCom9hMR2OOBwZKmzVGZO1sLsM8RjhsUUf7-_hG-VDnzr6vSc"
                class="order-button ubereats"
                target="_blank"
              >
                <img  src="assets/door-dash-btn.png" alt="Order on UberEats" />
              </a>
          </div>
          
    </div>
</div>