<div [class.hero-container-shrunk]="isShrunk" class="hero-container">
    <div [class.remove]="isShrunk" class="hero-content text-center text-white">
        <h1>Welcome to The Best Diner</h1>
        <div class="manageMessage">
            <p>Located in the heart of downtown Suffern. The Best Diner (TBD) is a family restaurant with bar. We have
                been
                an Indian restaurant since 1986. Starting April 2023, We decided to convert our Organic Indian menu to a
                full diner stype menu. We will be open 7 days a week from 7am to 9pm or 10pm (Fridays and Saturdays
                only).
                We will serve American style breakfast, lunch and dinner with a pinch of Spanish, Italian, and oriental
                cuisines. TBD is a casual yet elegant family restaurant, serving authentic cuisines, complimented by
                fine
                wine selections from around the world. Enjoy our indoor or outdoor dining options with friends and
                family.
                Looking forward to serving you soon.</p>

            <p>Thank you, TBD Management</p>
        </div>
        <div class="order-buttons">
            <div class="button-group">
                <a href="https://www.ubereats.com/store/the-best-diner-family-restaurant/er_AzanUQsimXTX8AmYrjw?diningMode=DELIVERY"
                    class="order-button ubereats" target="_blank">
                    <img height="85" width="175" src="assets/button-ubereats.png" alt="Order on UberEats">
                </a>
            </div>
        </div>
    </div>
</div>