<nav class="navbar fixed-top" [class.scrolled]="isScrolled">
    <div class="nav-wrapper container-fluid">
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
  
        <li class="nav-logo">
          <a routerLink="/" class="navbar-brand">
            <img src="assets/logo.png" alt="Logo" />
          </a>
        </li>
  
        <li class="nav-item"><a class="nav-link" routerLink="/menu" routerLinkActive="active">Menu</a></li>
        <li class="nav-item"><a class="nav-link" target="_blank" href="https://online.skytab.com/709ef35565effc96be0975b789a41198">Order</a></li>
      </ul>
  
      
      <button class="navbar-toggler" type="button" (click)="toggleMobileMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Mobile slide menu -->
      <div class="slide-in-menu" [class.active]="mobileMenuActive">
        <button class="close-button" (click)="closeMenu()">×</button>
      

      
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item-mobile"><a class="nav-link" routerLink="/" (click)="closeMenu()">Home</a></li>
          <li class="nav-item-mobile"><a class="nav-link" routerLink="/gallery" (click)="closeMenu()">Gallery</a></li>
          <li class="nav-item-mobile"><a class="nav-link" routerLink="/menu" (click)="closeMenu()">Menu</a></li>
          <li class="nav-item-mobile">
            <a class="nav-link" target="_blank" href="https://online.skytab.com/709ef35565effc96be0975b789a41198" (click)="closeMenu()">Order</a>
          </li>
        </ul>
      
                <!-- Logo -->
                <div class="mobile-logo">
                    <img src="assets/logo.png" alt="Business Logo" />
                  </div>
        <!-- Contact Info -->
        <div class="mobile-contact">
          <p><strong>The Best Diner</strong></p>
          <p>36 Lafayette Ave, Suffern, NY 10901</p>
          <p><a class="phone" href="tel:8453575700">(845) 357-5700</a></p>
        </div>
      </div>
      
    </div>
  </nav>
  